:root {
  position: relative;
  color : #eee;
  font-family: Arial;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #333;
  text-align: center;
  overflow:hidden;
}

warn {
  color: #f16f;
}

header {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 10vh;
}

.popup {
  z-index: 1000;
  background: #222;
  color: white;
  padding: 15px;
  padding-left: 10vw;
  padding-right: 10vw;
  cursor: pointer;
  box-shadow:
}
.popup .close {
  padding-top: 10px;
  color: #999;

}
.popup .close:hover {
  color: #ff9;
}

main#console {
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 90vh;
  text-align: left;
}

#console .line {
  padding: 5px;
}

#console .out {

  color: #666;
}
#console .in {
  margin-left: 10vw;
  color: #999;
}
footer {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: center;
}
